name: Combined Scan

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "30 23 * * *"
  workflow_dispatch:

jobs:
  secret_scan:
    name: Secret Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          sudo apt-get install -y diffutils jq python3 python3-pip
          python -m pip install detect-secrets
  
      - name: Run Detect Secrets Scan
        run: |
          detect-secrets scan > detect_secrets_output.txt
      - name: Upload Secret Scan Output
        uses: actions/upload-artifact@v2
        with:
          name: secret_scan_output
          path: detect_secrets_output.txt

  sast:
    name: Semgrep SAST Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Setup Python
        uses: actions/setup-python@v2
      
      - name: Install Semgrep
        run: pip install semgrep
      
      - name: Run Semgrep
        run: semgrep --config auto --severity=ERROR --severity=WARNING --severity=INFO --sarif --output sast_scan.sarif
      
      - name: Run commands
        run: |
          sudo pip3 install sarif-tools
          sarif html sast_scan.sarif
          chmod 777 sast_scan.html
          ls -la
          sed 's|<h3>Sarif Summary: <b>semgrep<\/b><\/h3>|<h3 style="text-align: center;">Vunet SAST Scanning Report<\/h3>|' sast_scan.html > tmp_report_html.html && mv tmp_report_html.html sast_scan.html
          { echo '<div style="text-align:center"><img src="https://vunetsystems.com/wp-content/uploads/2021/12/Vunet-Logo.png" width="200" height="50" /></div>'; cat sast_scan.html; } > tmp_report_html.html && mv tmp_report_html.html sast_scan.html
      
      - name: Upload SAST Scan Results
        uses: actions/upload-artifact@v2
        with:
          name: sast_scan_results
          path: |
            sast_scan.sarif
            sast_scan.html

  pre_commit_hook:
    name: Pre-commit Hook
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set PY environment variable
        run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV
      - uses: actions/cache@v1
        with:
          path: ~/.cache/pre-commit
          key: pre-commit|${{ env.PY }}
